body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: #202124;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

main{
    height: 70vh;
    width: 100vw;
    background-color: #202124;
}

footer{
    height: 20vh;
    width: 100vw;
    background-color: #202124;
}

#menu{
    width: 24px;
    height: 24px;
}

.sign-in-button{
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    min-width: 16px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
}

.a-tag-nav{
    margin-right: 8px;
    color: white;
    text-decoration: none;
}

svg{
    fill: white;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}